body {
	background-color:#e4e6a8;
	margin: 0px;
	padding: 0px;
	font-family: system-ui, sans-serif;
	display: grid;
	height: 100vh;
    grid-template-rows: 1fr auto auto;
	row-gap: 0px;
	overflow: hidden;
}

a {
	font-size: 0;
}

main {
	background-color: #e4e6a8;
	margin: 0px;
	padding: 0px;
}

.frontwall {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	min-height: 400px;
	font-size: 0;
}

.leftwall {
	text-align: right;
}

footer {
	background-color: black;
	text-align: center;
	display: grid;
	align-items: center;
	height: 100px;
	gap: 0;
}

.footercontent {
	color: antiquewhite;
}