body {
	background-color:#e4e6a8;
	font-family: system-ui, sans-serif;
	display: grid;
	height: 100vh;
    grid-template-rows: auto auto auto;
}

main {
	background-color: #e4e6a8;
}

.frontwall {
	display: flex;
}

.frontwall div {
	background: peachpuff;
  	border: 4px solid brown;
	min-height: 650px;
	flex: 1
}

footer {
	background-color: black;
	text-align: center;
}

.footercontent {
	color: antiquewhite;
}