body {
    background-color: #e4e6a8;
}

.galleryWall {
    margin: 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
}

.frame {
    border: 5px solid black;
    background-color: white;
    display: grid;
}

.about {
    grid-area: 4 / 4 / 6 / 7;
}

.work {
    grid-area: 3 / 3 / 4 / 6;
}